<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFOW0KIfedy7tOD_ulp1v-O-t4jBRso8A</string>
	<key>GCM_SENDER_ID</key>
	<string>132103983821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ashkan.Ebtekari.Twitter-Clone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-ad9ac</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-ad9ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132103983821:ios:effa2403d86cb3ed1f4f84</string>
</dict>
</plist>